.jumbotron {
    width: 90%;
    margin: auto;
    padding: 4rem 0;
    background-image: url("../assets/img/pizza.png");
}

h1 {
    text-align: center;

}

h1.bg-light {
    opacity: 0.5;
}

h2 {
    margin-top: 1.5em;
}

.card .card {
    width: 95%;
    margin: auto;
}

button>img {
    width: 27%;
    padding-left: 10px;
}