body {
    text-decoration-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    border: 1px solid;
    background-color: #848487;
    position: fixed;
    top: 0;
    left: 0;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
a:visited {
    color: black;
}

#left {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    font-size: 15px;
    align-self: center;


}

#middle {
    display: flex;
    justify-content: center;
    flex-grow: 14;
    align-self: center;

}

#right {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: row-reverse;
    align-items: center;
}
#right>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#follow {
    width: 71%;
    text-align: right;
}
#pics {
    display: flex;
    width: 50%;

}
img {
    width: 50%;
    position: relative;
    right: -25%;
}
#logo {
    font-size: 30px;
}

