nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;


}
img {

}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #b3a2b8
}
nav ul {

}

nav ul li {

}

h1 {
    margin-top: 20%
}