@media screen and (max-width: 550px) {
    .hidden-on-desktop {
        background-color: aqua;
        display: flex;
        flex-flow: column nowrap;
        width: 95%;
        min-height: 60px;
        padding: 25px 5px;
        margin: 25px auto;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 5px solid silver;
        font-family: Verdana;
        font-size: 40px;
    }
    nav li a {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        min-height: 60px;
        padding: 25px 5px;
        margin: 25px auto;
        background-color: lightgray;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 25px;
        font-size: 45px;
        font-family: Verdana;
    }
    nav li {
        list-style:none ;
        width: 100%;
    }
    h1 {
        width: fit-content;
        margin-left: 28%;
        font-size: 100px;
    }
    .header-img img {
        width: 96%;
        padding: 20px;
    }
    h2 {
        font-family: Verdana;
        font-size: 50px;
    }
    p {
        font-size: 34px;
        font-family: Verdana;
    }


}