@media screen and (max-width: 550px) {
    body {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }


    .hidden-on-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aqua;
        width: 95%;
        min-height: 60px;
        margin: auto;
        border: 3px solid silver;
        font-size: 25px;
        text-align: center;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    nav {
        padding: 0;
        width: 95%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: auto;
    }

    nav li {
        list-style: none;
        width: 100%;
    }

    nav li a {
        display: flex;
        flex-flow: column nowrap;
        width: 95%;
        min-height: 60px;
        margin: 30px 0;
        list-style: none;
        background-color: lightgray;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }


    h1 {
        align-self: center;
        width: fit-content;
        margin: auto;
        font-size: 100px;
    }

    .header-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: auto;
    }

    .header-img img {
        width: 95%;
        padding: 0;
    }

    h2 {
        font-family: Verdana;
        font-size: 30px;
    }

    p {
        font-size: 15px;
        font-family: Verdana;
    }

}

@media screen and (min-width: 551px) {

    .hidden-on-desktop {
        display: none;
    }

    body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    h1 {
        flex-grow: 30;
    }

    nav {
        flex-grow: 5;
        align-self: center;

    }

    nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        list-style: none;
        padding: 0;
        font-size: 15px;
    }

    .main {
        width: 59%;
    }

    .sub-section {
        width: 39%;
    }


}
